{% extends "../layout/default.njk" %}

{% block content %}
<h1>推荐Nunjunks 模板引擎：{{ content }}</h1>
<h2><a href="example/ejs">试试EJS</a></h2>
<h2><a href="example/xlayout">XLayout有更高级的API，紧密集成CDN资源</a></h2>
<h2><a href="example/tsp">一个TSP</a></h2>
<h2><a href="api">JSON API</a></h2>
<h2><a href="api/index/error">JSON API业务错误</a></h2>
{% endblock %}
